@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --verdeagua: #00D9B8;
    --azulmarinho: #00EAE5;
    --cinzaescuro: #343D4D;
}

* {
    max-width: 1801px;
    min-width: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    zoom: 95.6%;
}

body {
    padding: 0;
    margin: 0;
    background: #ffffff 0% 0% no-repeat;
    opacity: 1;
}

button {
    cursor: pointer;
}

.main-container {
    background-position: center;
    background-repeat: no-repeat;
    display: flexbox;
    align-items: center;
}

.parent{
    position: relative;
}

.main-container .logo-top {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
    font-size: 3rem;
    font-weight: 900;
    color: #0B87FF;
    position: absolute;
    font-family: Lato, sans-serif;
}

#medico_a {
    width: 805px;
    height: 962px;
    top: 117px;
    left: 1094px;
    position: absolute;
    display: flow;
}

#ondas {
    width: 2067px;
    height: 456px;
    top: 693px;
    left: -173px;
    opacity: 1;
    position: absolute;

}

#textura {
    width: 1150px;
    height: 1240px;
    top: -80px;
    left: 840px;
    background: transparent 0% 0% no-repeat padding-box;
    position: relative;
    opacity: 0.7;
}

.info_title .first_title {
    width: 540px;
    height: 240px;
    top: 171px;
    left: 97px;
    position: absolute;
    color: var(--cinzaescuro);
    text-align: left;
    font-family: Lato, Regular, sans-serif;
    font-size: 50px;
    font-weight: normal;
    line-height: 60px;
}

.info_title .second_title {
    width: 540px;
    height: 240px;

    top: 420px;
    left: 95.5px;
    position: absolute;
    color: var(--cinzaescuro);
    text-align: left;
    font-family: Lato, Heavy, sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}

.info_title .first_text{
    width: 571px;
    height: 312px;
    top: 488px;
    left: 97px;
    position: absolute;

    color: var(--cinzaescuro);
    text-align: initial;
    font: normal normal normal 20px/24px Lato;
    letter-spacing: 0px;
    color: rgba(52, 61, 77, 1);
    opacity: 1;
}

.info_title .second_text{
    width: 571px;
    height: 312px;
    top: 598px;
    left: 97px;
    position: absolute;

    color: var(--cinzaescuro);
    text-align: initial;
    font: normal normal normal 20px/24px Lato;
    letter-spacing: 0px;
    color: rgba(52, 61, 77, 1);
    opacity: 1;
}

.info_title .third_text{
    width: 571px;
    height: 312px;
    top: 708px;
    left: 97px;
    position: absolute;

    color: var(--cinzaescuro);
    text-align: initial;
    letter-spacing: 0px;
    color: rgba(52, 61, 77, 1);
    opacity: 1;
    font-size: 20px;
    font-family: Lato, Regular, sans-serif;
}

.main-container .info_box {
    width: 576px;
    height: 877px;

    top: 0px;
    left: 725px;

    background: #2250a0a9 0% 0% no-repeat padding-box;
    opacity: 0.96;
    position: absolute;
    border-radius: 20px;
}

.main-container .info_contact p {
    width: 496px;
    height: 81px;
    top: 36px;
    left: 814px;
    
    text-align: left;
    font: normal normal normal 22px/27px Lato;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    
    margin-bottom: 76 0px;
    position: absolute;
}

.main-container .info_submit #nome{
    width: 475px;
    height: 70px;
    top: 158px;
    left: 814px;

    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
}

.main-container .info_submit #e-mail{
    width: 475px;
    height: 70px;
    top: 268px;
    left: 814px;

    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
}

.main-container .info_submit #telefone{
    width: 475px;
    height: 70px;
    top: 378px;
    left: 814px;

    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
}

.main-container .info_submit #empresa{
    width: 475px;
    height: 70px;
    top: 488px;
    left: 814px;

    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
}

.main-container .info_submit #especialidade_medica{
    width: 475px;
    height: 70px;
    top: 598px;
    left: 814px;

    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
}

.info_submit input::placeholder {
    padding-left: 28px;

    color: var(--cinzaescuro);
    text-align: left;
    font: normal normal normal 25px/30px Lato;
    opacity: 0.66;
}

.info_submit button{
    width: 475px;
    height: 88px;
    top: 726px;
    left: 814px;

    position: absolute;
    border-radius: 44px;
    background: #0b87ff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000009c;
    opacity: 1;

    color: #ffffff;

    font-size: 30px;
    font-family: Lato, Regular, sans-serif;
    text-align: center;
    font: normal normal normal 30px/36px Lato;
    letter-spacing: 0.9px;
}

/* INÍCIO DA SEGUNDA PÁGINA*/

.second-container {
    width: 1920px;
    height: 989px;
    top: 1080px;

    background: linear-gradient(#0B87FF, #fff) 0% 0% no-repeat padding-box;
    display: flex;
    opacity: 5;
    
    align-items: center;
    margin-right: 60px;
    margin-top: -103.3px;
    zoom: 96.55%;
}

.second-container #datasus {
    width: 632px;
    height: 219px;
    top: 1141px;
    left: 136px;

    position: absolute;
}

.second-container #esus {
    width: 632px;
    height: 319px;
    left: 136px;
    top: 1651px;
    position: absolute;
}

.second-container #bolinhas{
    width: 284px;
    height: 112px;
    top: 1894px;
    left: 1606px;
    position: absolute;
}

.second-container .second_title {
    width: 426px;
    height: 60px;
    top: 1193px;
    left: 973px;
    position: absolute;

    font: normal normal bold 49px/55px Lato, sans-serif;
    letter-spacing: 0px;
    color: #ffffff;
}

.second-container .bolinhas {
    width: 800px;
    height: 420px;
    top: 1292px;
    left: 1012px;
    position: absolute;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;

    font-family: Lato, Regular, sans-serif;
    font-size: 30px;
    line-height: 64px;
}

.bolinhas li{
    color: #0B87FF;
}

.second-container button{
    width: 535px;
    height: 88px;
    top: 562px;
    left: -20px;

    position: absolute;
    border-radius: 44px;
    background: #0B87FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;

    color: #ffffff;

    font-size: 30px;
    font-family: Lato, Regular, sans-serif;
    text-align: center;
    font: normal normal normal 30px/36px Lato;
    letter-spacing: 0.9px;
}

.second-container h3 {
    text-align: center;
}

.map {
    position: relative;

    top: 91px;
    left: 100px;
}

.third-container .states {
    font-family: Lato, Regular, sans-serif;
    color: #0B87FF;

}

.data_base_title #db_title {
    position: absolute;

    top: 2300px;
    left: 50%;

    font-family: Lato, sans-serif;
    color: #0B87FF;
    font-weight: 900;
    font-size: 4rem;
}

.data_base_title .stetoscope {
    height: 108px;
    position: relative;
    left: 870px;
    top: 103px;
}

.third-container #mg {
    position: absolute;
    top: 3130px;
    left: 966px;
}